<table class="profile" summary="Profile information">
  <tr>
    <td>
      <h1><%= @user.name %>'s profile</h1> <br />
      <%= @user.email %>
    </td>
    <td>
      <div class="sidebar round">
        <strong>Name</strong> <%=  @user.name %><br />
        <strong>URL</strong> <%= link_to user_path(@user), @user %><br />     
        <strong>Available actions:</strong><br />
        <ul>
          <li>
            <%= link_to "Add book to database", new_book_path %>
          </li>
        </ul>
      </div>
    </td>
  </tr>
</table>